/* Add here all your CSS customizations */
.grid_view_table {
  th,
  td {
    width: 50%;
  }
}

.h-100 {
  height: 100%;
}

.small-footer {
  border-top: 1px solid #e0e0e0;
  width: calc(100%);
  left: -40px;
  position: relative;
  padding: 25px 40px;
  display: flex;
}

.mx-auto {
  margin: 0 auto !important;
}

.login__block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #e0e7ff;
}

.login-register-page {
  padding: 50px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.card__box {
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 4px;
}

.card__box-body {
  margin-top: 10px;
}

.card__box-title {
  color: #333;
  font-size: 16px;
  margin-bottom: 10px;
}

.text-white {
  color: #fff !important;
}

.cursor-pointer {
  cursor: pointer;
}

@media (max-width: 576px) {
  .mmt {
    margin-top: 15px;
  }
  .mmb {
    margin-bottom: 15px;
  }
  .block__w {
    width: 100%;
    text-align: right;

    .button {
      margin: 5px 0;
    }
  }
}

.border-0 {
  border: none !important;
}

.select2-container--bootstrap .select2-selection--single {
  padding: 6px 34px 6px 12px !important;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__clear {
  right: 2.2rem;
}

.card-light {
  box-shadow: 0 3px 16px #1D39A914;

  .list-group-item {
    //background-color: rgba(42, 65, 230, 0.07);
  }
}

//.modeswitch-wrap {
//  cursor: pointer;
//
//  .modeswitch-item {
//    width: 42px;
//    height: 12px;
//    background: #747579;
//    border-radius: 60px;
//    margin-right: 16px;
//    transition: all 1s;
//
//    .modeswitch-icon {
//      transform: translateX(-14%);
//      height: 26px;
//      width: 26px;
//      background: #d8831b;
//      border: 2px solid #fff;
//      border-radius: 50%;
//      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
//      font-size: 14px;
//      color: #fff;
//      transition: all 1s;
//
//      &::before {
//        content: "\e9d7";
//        font-family: 'Feather-Icons';
//        font-weight: normal;
//        font-style: normal;
//      }
//    }
//  }
//}
//
//html[data-theme=dark] {
//  .modeswitch-item {
//    background: #a1a1a8;
//
//    .modeswitch-icon {
//      transform: translateX(18px) rotate(1turn);
//      background: #0f0f10;
//
//      &::before {
//        content: "\e99a";
//      }
//    }
//  }
//}

.fucts-bg {
  background-color: #fafafa;
}

.link-info {
  color: #2a41e8;
}

.card__wrapper {
  margin: 0 auto 20px;
  padding: 10px;
  max-width: 500px;
  background-color: lightskyblue;
  border-radius: 5px;
}

.card-logo {
  border-radius: 5px;
}