.modeswitch-wrap {
  cursor: pointer;

  .modeswitch-item {
    width: 51px;
    height: 22px;
    border-radius: 60px;
    margin-right: 16px;
    transition: all 1s;
    background-image: url("../../images/icon/darkmode.svg");
    background-repeat: no-repeat;
    background-size: cover;

    .modeswitch-icon {
      display: none;
      transform: translateX(-5%);
      height: 24px;
      width: 35px;
      background-image: url("../../images/icon/darkIcon.svg");
      padding: 0;
      border-radius: 30px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
      font-size: 14px;
      transition: all 1s;
      background-repeat: no-repeat;
      background-size: cover;

      &::before {
        //content: "\e9d7";
        content: '';
        font-family: 'Feather-Icons';
        font-weight: normal;
        font-style: normal;
      }
    }
  }
}

html[data-theme=dark] {
  .modeswitch-item {
    background-image: url("../../images/icon/lightmode.svg");

    .modeswitch-icon {
      background-repeat: no-repeat;
      background-size: cover;
      transform: translateX(18px);
      background-image: url("../../images/icon/lightIcon.svg");
      padding: 0;

      &::before {
        //content: "\e99a";
        content: '';
      }
    }
  }
}

.datepicker {
  z-index: 1000 !important;
}

.cutomer_index {
  margin-top: 20px;

  a {
    padding: 7px 20px !important;
    margin-left: 10px !important;
  }
}

.status_button-new {
  background-color: white;
  border-radius: 8px;
  padding: 10px 20px;

  a {
    padding: 7px 30px !important;
    font-family: Inter;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 24px;
    color: black !important;
    box-shadow: none !important;
    background-color: transparent !important;
  }

  a.active, a:hover {
    background-color: #008DFF !important;
    color: white !important;
  }
}

@media only screen and (max-width: 578px) {
  .status_button-new {
    a {
      width: 100%;
    }
  }
}

.table_customer-new {
  background-color: white !important;
  border-radius: 12px !important;


  table {
    margin-top: 15px;
    background-color: transparent !important;

    tr {
      background-color: transparent !important;

      th {
        font-size: 16px;
        font-weight: 400 !important;
        line-height: 24px;

        a {
          color: #008DFF !important;

        }
      }

      td {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: black;

        a {
          color: #008DFF !important;
        }
      }
    }

  }
}

.buttons_update-icon {
  display: flex;
  gap: 10px;
  border: none !important;
  border-top: 1px solid #ddd !important;

  .button_delete {
    color: #E83333 !important;
    padding: 8px;
    border-radius: 8px;
    background-color: #E833331A !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button_view {
    color: #FFA515 !important;
    padding: 8px;
    border-radius: 8px;
    background-color: #FFA5151A !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button_update {
    color: #008DFF !important;
    padding: 8px;
    border-radius: 8px;
    background-color: #008DFF1A !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.customer_tabs {
  background-color: transparent !important;
  box-shadow: none !important;

  .tabs-header {
    background-color: white;
    padding: 10px;
    width: 55%;
    border-radius: 12px;

    ul {
      gap: 30px;
      width: 100% !important;
    }

    li {

      a {
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        color: black;
        padding: 5px 30px !important;
        border-radius: 12px;
      }

      .tab__link.active, .tab__link:hover {
        color: white !important;
      }
    }
  }

  .tabs-content {
    background-color: white;
    margin-top: 40px;
    border-radius: 12px;

    .temp_img {
      textarea {
        border: none !important;
        background-color: #F1F5F9;
        border-radius: 12px;
      }
    }
  }

  .btn-no {
    border: silver 1px solid;
    border-radius: 8px;
    background-color: transparent;
    color: silver;
    padding: 7px 30px;
  }

}

.main_tab-content {
  .buttons_main {
    a, button {
      padding: 7px 10px;
      margin-bottom: 0 !important;
    }
  }

  .customer_tab-1 {
    border: none !important;

    tbody {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      tr {
        background-color: transparent !important;
        width: 50% !important;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px dashed #ddd !important;
        flex-wrap: wrap;

        &:nth-child(odd) {
          border-right: 1px solid #ddd !important;
          padding-right: 30px;

        }

        &:last-child {
          border-right: none !important;

        }

        td, th {
          border: none !important;


          button {
            padding: 0;
            margin-bottom: 8px;
          }
        }

        th {
          font-size: 16px;
          font-weight: 400 !important;
          line-height: 24px;
          color: #475569;
        }

        td {
          font-size: 18px;
          font-weight: 600;
          line-height: 24px;
          color: black;

          a {
            color: #008DFF !important;
          }
        }

      }
    }

  }

  .tables-content-tab-main {
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    margin-top: 30px;


    table {
      margin-top: 15px;
      background-color: transparent !important;

      tr {
        background-color: transparent !important;

        th {
          font-size: 16px;
          font-weight: 400 !important;
          line-height: 24px;

          a {
            color: #008DFF !important;

          }
        }

        td {
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          color: black;

          a {
            color: #008DFF !important;
          }
        }
      }
    }

    .notification.notice {
      background-color: #008DFF1A;

      p, strong {
        color: #008DFF !important;
      }
    }
  }

  .limit_table-tab {
    border-radius: 12px;

    tr {
      background-color: transparent !important;

      td {
        padding: 10px;
      }
    }

    thead {
      border: 1px solid #ddd;
      border-radius: 12px 12px 0 0;

      td {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;

      }
    }
  }

  .limit_update_text {
    button {
      background-color: #008DFF1A;
      color: #008DFF;
      font-family: Inter;
      font-size: 14px;
      font-weight: 500;
      border-radius: 8px;
      padding: 8px 20px;
    }
  }

  .add_comment-tabs {
    background-color: #008DFF1A;
    color: #008DFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    padding: 8px 20px;
  }
}

.limitStyles p {
  border-right: 1px solid black;
  margin: 0;
  text-align: center;
  padding-left: 140px;
  padding-right: 170px;
}

.buttonStyles {
  background-color: #008DFF1A !important;
  color: #008dff !important;
  font-family: Inter;
  font-size: 14px !important;
  font-weight: 500 !important;
  border-radius: 8px !important;
  padding: 8px 20px !important;
}

.go_back {
  background-color: white;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.passports_tab-content, .work_tab-content {
  padding: 25px !important;

  .buttons {
    a, button {
      color: white;
      padding: 7px 20px !important;
    }

    .blue {
      background-color: #008DFF !important;
    }
  }

  .table_tabs_view {
    background-color: white;
    border-radius: 12px;
    margin-top: 30px;
    padding: 25px;
  }

  table {
    background-color: white;
    border: none !important;
    border-radius: 15px;

    tbody {
      display: flex;
      gap: 50px;
      flex-wrap: wrap;
      padding: 25px !important;

      tr {
        background-color: transparent !important;
        display: flex;
        flex-direction: column;
        width: 22% !important;

        th {
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0px;
          text-align: left;
          color: #94a3b8;
        }

        td {
          font-size: 18px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 0px;
          text-align: left;
          color: black;
        }

        td, th {
          border: none !important;
        }
      }
    }
  }
}

.customer-cards {
  background-color: white;
  padding: 25px !important;
  border-radius: 16px;

  table {
    border: none !important;
    background-color: transparent !important;

    tr {
      background-color: transparent !important;
      border: none !important;

      td, th {
        border: none !important;
      }
    }

    tr {
      border-bottom: 1px dashed #ddd !important;

      th {
        border-right: 1px solid #ddd !important;
      }

      td {
        padding-left: 20px !important;
      }
    }

  }
}

.customer_file-view {
  background-color: white;
}

.work-table-dButton {
  background-color: white;
  border-radius: 16px;
}

.customer_view_file-buttons {
  a {
    padding: 8px 30px !important;
    border-radius: 12px !important;
    box-shadow: none !important;
  }

  .save_button {
    background-color: #008DFF1A !important;
    color: #008DFF !important;
  }

  .customer_view-delete_file {
    background-color: #E833331A !important;
    color: #E83333;
  }
}

.upload_customer_files {
  width: 100%;
  height: 250px;

  img {
    max-width: 100% !important;
    max-height: 100%;
  }
}

.asaxiy-logo-img {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.login__block {
  background-color: white !important;
}

.login_content {
  width: 500px;
}

.login_content {
  .input-with-icon-left i {
    display: none;
  }

  .input-text {
    border: none !important;
    padding-left: 25px;
    background-color: #F0F2F5;
    border-radius: 8px;
  }


  .checkbox-icon {
    border: none !important;
    background: #F0F2F5 !important;

    & :checked {
      background-color: #008DFF !important;
    }
  }

  .login_button {
    padding: 7px;
    background-color: #008DFF;
  }
}

@media (max-width: 1351px) {
  .npl-box {
    margin-bottom: 10px !important;
  }
}


.order-index-table {
  background-color: white;
  padding: 27px;
  border-radius: 20px;
}

.headline {
  border-bottom: 0 !important;
}

.button_view {
  padding: 8px;
  border-radius: 8px;
  background-color: #FFA5151A !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;

  .glyphicon {
    color: #ffa515 !important;
  }
}

.common-drop {
  background-color: white;
  border-radius: 15px;

  table {
    tr {
      background-color: transparent !important;

      th, td {
        a {
          color: #008DFF !important;
        }
      }
    }
  }
}

.login-register-page input:focus {
  background-color: white !important;
  border: 1px solid #008DFF !important;;
}

.table-view-content {
  background-color: white;
  border-radius: 12px;
  padding: 30px 20px !important;
  border: none !important;
  margin-bottom: 30px;

  table {
    border: none !important;


    tbody {
      display: flex;
      gap: 90px;
      flex-wrap: wrap;
      border: none !important;


      tr {
        background-color: transparent !important;
        display: flex;
        flex-direction: column;


        th {
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          color: #475569;
          border: none !important;

        }

        td {
          border: none !important;
          font-size: 24px;
          font-weight: 600;
          line-height: 24px;

          a {
            color: #008dff;
          }
        }
      }
    }
  }
}

.background__dashboard-transaction {
  background-color: white;
  border-radius: 16px;
}

.dashboard__customer-new-box {
  .background-white {
    background-color: white;
  }

  .fun-fact {
    flex: 1 1 calc(33% - 30px);
  }

  @media screen and (max-width: 1192px) {
    .fun-fact {
      flex: 1 1 calc(50% - 30px) !important;
    }
  }
  @media screen and (max-width: 992px) {
    .fun-fact {
      flex: 1 1 calc(100% - 30px) !important;
    }
  }
}

.content__transaction-fresh {
  a {
    color: black;
  }

  .table-striped {
    tbody {
      tr {
        background-color: transparent !important;

        a {
          color: #008dff;
        }
      }
    }
  }
}

.customer__form-tabs {
  .form-control {
    border: none;
    background-color: #64748b1c;
  }
}

.calculator-left {
  background-color: white;
  border-radius: 16px;
  padding: 40px;
  height: 100%;
}

.product_create-content {
  background-color: white;
  border-radius: 12px;

  input, select, .select2-selection, textarea {
    border: none !important;
    background-color: #F0F2F5;
    border-radius: 8px;
    height: auto;
  }

  select, .select2-selection {
    padding: 10px;
    height: 40px;

    .select2-selection__arrow {
      height: 98% !important;
    }

    .select2-selection__clear {
      top: 12px !important;
    }
  }

  .submit_button {
    button {
      background-color: #00BFAF !important;
      padding: 7px 30px !important;
    }
  }
}

.full-screen_header {
  padding: 0px 6px 3px 6px !important;
}

.copyright-user {
  color: #008dff !important;
}

.created-user {
  color: #008dff !important;
}

.tabs-content:after {
  box-shadow: none !important;
}

.call-history-table {
  background-color: white !important;
  border-radius: 15px;
  padding: 15px;
  margin-top: 20px;

  table {
    tbody {
      tr {
        background-color: white !important;
      }
    }
  }
}

.changes-table-crm {
  background-color: white !important;
  border-radius: 15px;
  padding: 15px;

  table {
    thead {
      th {
        a {
          color: #008dff !important;
        }
      }
    }

    tbody {
      tr {
        background-color: white !important;
      }
    }
  }
}

.extra-time__table {
  background-color: white !important;
  border-radius: 15px;
  padding: 15px;

  table {
    thead {
      th {
        a {
          color: #008dff !important;
        }
      }
    }

    tbody {
      tr {
        background-color: white !important;

        td {
          a {
            color: #008dff !important;
          }
        }
      }
    }
  }
}

.qr_button {
  background-color: grey !important;
}

.customer_view_status {
  box-shadow: none !important;
  background-color: transparent !important;
}

.customer_info_order {
  background-color: white;
  border-radius: 12px;
  padding: 15px !important;
  margin-bottom: 25px;

  table {
    border: none !important;
    box-shadow: none !important;

    tr {
      background-color: transparent !important;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px dashed #ddd;

      td, th {
        border: none !important;
        width: auto;
      }

      th {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #475569;
      }

      td {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: black;

        .not-set {
          color: #E83333 !important;
          font-style: normal !important;
        }

        a, button {
          color: #008DFF;
        }
      }
    }

    tr:last-child {
      border-bottom: none !important;
    }
  }
}

.order-product_info {
  background-color: white !important;
  border-radius: 12px !important;
  margin-bottom: 30px !important;

  table {
    th {
      color: #008dff;
    }

    tr {
      background-color: transparent !important;
      color: black;

      a {
        color: #008dff;
      }

      td:nth-child(1) {
        color: black;
      }

      .color-td {
        color: #008dff;
      }
    }
  }
}

.customer-merchant-table, .user__index-content {
  background-color: white !important;
  padding: 15px;
  border-radius: 15px;

  table {
    thead {
      th {
        a {
          color: #008dff !important;
        }
      }
    }

    tbody {
      tr {
        background-color: white !important;
      }
    }
  }
}

.dashboard__box-card {
  background-color: white !important;
  padding: 15px;
  border-radius: 15px;

  table {
    thead {
      th {
        color: #008dff !important;
      }

      th {
        a {
          color: #008dff !important;
        }
      }
    }

    tbody {
      tr {
        background-color: white !important;
      }
    }
  }
}

.status_number {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
}


.status_20, .status_9 {
  border: 1px solid #008DFF;
  color: #008DFF;
  background-color: #008DFF29;
}

.status_15 {
  color: #00BFAF;
  border: 1px solid #00BFAF;
  background-color: #00BFAF29;
}

.status_2, .status_10, .status_5 {
  border: 1px solid #12A953;
  color: #12A953 !important;
  background-color: #12A95329;

}

.status_0 {
  border: 1px solid #FFA515;
  color: #FFA515 !important;
  background-color: #FFA51529;
}

.status_-3, .status_-5 {
  border: 1px solid #E83333;
  color: #E83333 !important;
  background-color: #E8333329;
}

.status_1, .status_4 {
  border: 1px solid #FE7405;
  color: #FE7405 !important;
  background-color: #FE740529;
}

.status_-1 {
  border: 1px solid #475569;
  color: #475569 !important;
  background-color: #47556929;
}