/* ---------------------------------- */
/* Tables
------------------------------------- */

table.basic-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: none;
  margin-bottom: 15px;

  th {
    background-color: $primary-color;
    text-align: left;
    color: #fff;
    vertical-align: top;
    font-weight: 500;

    &:first-child {
      border-radius: $global-border-radius 0 0 $global-border-radius;;
    }

    &:last-child {
      border-radius: 0 $global-border-radius $global-border-radius 0;
    }

    padding: 15px 28px;
  }

  td {
    padding: 15px 28px;
  }

  tr:nth-child(odd) {
    background-color: #f4f4f4;
  }

  margin-bottom: 0;
}

.custom__table {
  & > div {
    overflow: hidden;
  }

  .pagination {
    display: flex;
    margin: 0 0 20px 0;

    li {
      margin-right: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      border-radius: $global-border-radius;
      width: 40px;
      height: 40px;
      line-height: 40px;
      cursor: pointer;
      background: #2a41e81c;
      @media (max-width: 575px) {
        width: 30px;
        height: 30px;
        line-height: 30px;
      }

      &.prev,
      &.next {
        span,
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          font-size: 20px;
          line-height: 22px;
        }
      }

      a,
      span {
        border: none;
        background: none !important;
      }

      &:hover {
        background-color: #333;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

        a {
          color: #fff;
        }
      }

      &.active {
        background-color: $primary-color !important;
        box-shadow: 0 2px 8px rgba(102, 103, 107, 0.25);

        a {
          color: #fff;
        }
      }

      &.disabled:hover {
        a,
        span {
          color: #fff;
        }
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: #333;
        font-weight: 700;
        margin: 0;
        line-height: 22px;
        transition: all 0.3s ease;
        font-size: 14px;
        padding: 0;
      }

      i {
        line-height: 30px;
        font-size: 24px;
        @media (max-width: 575px) {
          font-size: 20px;
          line-height: 28px;
        }
      }
    }
  }
}