$line-clamps: (
        one: 1,
        two: 2,
        three: 3
);

.text__ {
  @each $class, $clamp in $line-clamps {

    &#{$class}-line {
      -webkit-line-clamp: $clamp;
    }
  }
}

@include min-width(481) {
  .text__ {
    @each $class, $clamp in $line-clamps {

      &#{$class}-line--sm {
        -webkit-line-clamp: $clamp;
      }
    }
  }
}

@include min-width(769){
  .text__ {
    @each $class, $clamp in $line-clamps {

      &#{$class}-line--md {
        -webkit-line-clamp: $clamp;
      }
    }
  }
}

@include min-width(1025){
  .text__ {
    @each $class, $clamp in $line-clamps {

      &#{$class}-line--lg {
        -webkit-line-clamp: $clamp;
      }
    }
  }
}

.text__one-line,
.text__two-line,
.text__three-line,
.text__one-line--sm,
.text__two-line--sm,
.text__three-line--sm,
.text__one-line--md,
.text__two-line--md,
.text__three-line--md,
.text__one-line--lg,
.text__two-line--lg,
.text__three-line--lg {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}