
@mixin bg-br {
  background-color: $content-bg;
}

/* -------------------------------------------------------------- */
/* Media max-width
----------------------------------------------------------------- */
@mixin max-width($width) {
  @if $width==480 {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $width==768 {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $width==991 {
    @media (max-width: 991px) {
      @content;
    }
  } @else if $width==1024 {
    @media (max-width: 1024px) {
      @content;
    }
  }
}

/* -------------------------------------------------------------- */
/* Media min-width
----------------------------------------------------------------- */
@mixin min-width($width) {
  @if $width==481 {
    @media (min-width: 481px) {
      @content;
    }
  } @else if $width==769 {
    @media (min-width: 769px) {
      @content;
    }
  } @else if $width==992 {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $width==1025 {
    @media (min-width: 1025px) {
      @content;
    }
  }
}

@mixin overlay {
  display: none;
  position: fixed;
  top: 60px;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 16;
  background: rgba(46, 67, 115, 0.45);
  backdrop-filter: blur(4px);
  @-moz-document url-prefix() {
    background: rgba(46, 67, 115, 0.7);
  }
}