/* ---------------------------------- */
/* Dashboard
------------------------------------- */

/* Full Page Adjustments */
.full-page-container {
  height: calc(100vh - 82px);
}

.dashboard-container {
  height: calc(100vh - 82px);
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

@media (max-width: 1099px) {
  .full-page-container, .dashboard-container {
    height: calc(100vh - 76px);
  }
}

/* Dashboard Basis */

.dashboard-sidebar {
  position: fixed;
  flex: 0 0 250px;
  max-width: 250px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: transform 0.3s;
  top: 82px;
  @media(max-width: 767px) {
    top: 60px;
  }

  &.right-sidebar {
    right: 0;
    transform: translateX(400px);

    &.opened {
      transform: translateX(0);
    }
  }

  &.left-sidebar {
    transform: translateX(-400px);

    &.opened {
      transform: translateX(0);
    }
  }

  .dashboard-sidebar-inner {
    overflow: auto;
    height: 100%;
  }
}

.dashboard-content-container {
  flex: 1;
  background-color: #fafafa;
  padding: 0;
  overflow: auto;
  z-index: 99;
  transition: transform 0.3s;
}

.dashboard-content-inner {
  padding: 50px 25px;
  padding-bottom: 0;
  position: relative;
  @media(max-width: 767px) {
    padding: 25px 15px;
  }
}

#header-container.dashboard-header {
  .container {
    padding: 0;
  }
}

@media (max-width: 1240px) {
  #header-container.dashboard-header #logo {
    width: auto;
  }
}